.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 15px;
  position: relative;
}

.form-group_inline {
  flex-direction: row;
}

.form-label {
  font-size: 14px;
  color: darkolivegreen;
  margin-left: 5px;
  margin-bottom: 3px;
}

.form-control {
  border: 1px solid darkolivegreen;
  background: white;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.error {
  position: absolute;
  left: 20px;
  bottom: 0;
  color: red;
  font-size: 12px;
}
